In [2]:
import pandas as pd

## Series

In [32]:
students = pd.Series(data=['Luis', 'USA', 40], index=["name", "country", "age"])
students

name       Luis
country     USA
age          40
dtype: object

In [9]:
print(students.shape)
print(students.ndim)
print(students.size)
print(students.index)
print(students.values)
print(students.dtype)
print(students.name)
print(students.head(2))
print(students.tail(2))
print(students.describe())
print(students.is_unique)
print(students.is_monotonic_decreasing)
print(students.is_monotonic_increasing)
print(students.isnull())
print(students.notnull())
print(students.sort_index())

(3,)
1
3
Index(['name', 'country', 'age'], dtype='object')
['Luis' 'USA' 40]
object
None
name       Luis
country     USA
dtype: object
country    USA
age         40
dtype: object
count        3
unique       3
top       Luis
freq         1
dtype: object
True
False
False
name       False
country    False
age        False
dtype: bool
name       True
country    True
age        True
dtype: bool
age          40
country     USA
name       Luis
dtype: object

In [11]:
print('name' in students)

True

## ADD and Delete Elements on series

In [ ]:
print(students['age'])
print(students.get('age'))

40

In [14]:
print(students[['name', 'age']])

name    Luis
age       40
dtype: object

In [15]:
print(students[1])

USA

/var/folders/dt/lf4ysknn6qzfqykdrps5_pxc0000gn/T/ipykernel_70391/1220065647.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(students[1])

In [16]:
print(students[[0, 1]])

name       Luis
country     USA
dtype: object

/var/folders/dt/lf4ysknn6qzfqykdrps5_pxc0000gn/T/ipykernel_70391/1676510666.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(students[[0, 1]])

In [17]:
print(students[-1])

40

/var/folders/dt/lf4ysknn6qzfqykdrps5_pxc0000gn/T/ipykernel_70391/2014565878.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(students[-1])

In [18]:
print(students.loc['name'])

Luis

In [20]:
print(students.iloc[0])

Luis

In [33]:
# Copy of students without age
students_copy = students.drop(['age'])
print(students_copy)
print("******************")
print(students)

name       Luis
country     USA
dtype: object
******************
name       Luis
country     USA
age          40
dtype: object

In [34]:
# Reference of students without age
students.drop(['age'], inplace=True)
print(students)

name       Luis
country     USA
dtype: object

In [36]:
fruits = pd.Series(data=[20, 40, 60], index=['mango', 'apple', 'banana'])
fruits

mango     20
apple     40
banana    60
dtype: int64

In [37]:
print(fruits + 3)

mango     23
apple     43
banana    63
dtype: int64

In [38]:
print(fruits - 3)

mango     17
apple     37
banana    57
dtype: int64

In [39]:
print(fruits * 3)

mango      60
apple     120
banana    180
dtype: int64

In [40]:
print(fruits / 3)

mango      6.666667
apple     13.333333
banana    20.000000
dtype: float64

In [47]:
print(fruits % 3)

mango     2
apple     1
banana    0
dtype: int64

In [49]:
print(fruits // 3)

mango      6
apple     13
banana    20
dtype: int64

In [48]:
print(fruists['mango'] + 3)

23

In [51]:
print(fruists[['banana', 'apple']] * 10)

banana    600
apple     400
dtype: int64

In [52]:
print(fruits.loc['apple'] / 10)

4.0

## Combine with Numpy

In [42]:
import numpy as np

In [43]:
print(np.sqrt(fruits))

mango     4.472136
apple     6.324555
banana    7.745967
dtype: float64

In [44]:
print(np.exp(fruits))

mango     4.851652e+08
apple     2.353853e+17
banana    1.142007e+26
dtype: float64

In [46]:
print(np.power(fruits, 2))

mango      400
apple     1600
banana    3600
dtype: int64