In [2]:
import pandas as pd

## Series

In [32]:
students = pd.Series(data=['Luis', 'USA', 40], index=["name", "country", "age"])
students

name       Luis
country     USA
age          40
dtype: object

In [9]:
print(students.shape)
print(students.ndim)
print(students.size)
print(students.index)
print(students.values)
print(students.dtype)
print(students.name)
print(students.head(2))
print(students.tail(2))
print(students.describe())
print(students.is_unique)
print(students.is_monotonic_decreasing)
print(students.is_monotonic_increasing)
print(students.isnull())
print(students.notnull())
print(students.sort_index())

(3,)
1
3
Index(['name', 'country', 'age'], dtype='object')
['Luis' 'USA' 40]
object
None
name       Luis
country     USA
dtype: object
country    USA
age         40
dtype: object
count        3
unique       3
top       Luis
freq         1
dtype: object
True
False
False
name       False
country    False
age        False
dtype: bool
name       True
country    True
age        True
dtype: bool
age          40
country     USA
name       Luis
dtype: object

In [11]:
print('name' in students)

True

## ADD and Delete Elements on series

In [ ]:
print(students['age'])
print(students.get('age'))

40

In [14]:
print(students[['name', 'age']])

name    Luis
age       40
dtype: object

In [15]:
print(students[1])

USA

/var/folders/dt/lf4ysknn6qzfqykdrps5_pxc0000gn/T/ipykernel_70391/1220065647.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(students[1])

In [16]:
print(students[[0, 1]])

name       Luis
country     USA
dtype: object

/var/folders/dt/lf4ysknn6qzfqykdrps5_pxc0000gn/T/ipykernel_70391/1676510666.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(students[[0, 1]])

In [17]:
print(students[-1])

40

/var/folders/dt/lf4ysknn6qzfqykdrps5_pxc0000gn/T/ipykernel_70391/2014565878.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(students[-1])

In [18]:
print(students.loc['name'])

Luis

In [20]:
print(students.iloc[0])

Luis

In [33]:
# Copy of students without age
students_copy = students.drop(['age'])
print(students_copy)
print("******************")
print(students)

name       Luis
country     USA
dtype: object
******************
name       Luis
country     USA
age          40
dtype: object

In [34]:
# Reference of students without age
students.drop(['age'], inplace=True)
print(students)

name       Luis
country     USA
dtype: object