In [60]:
import pandas as pd

## Series

In [61]:
students = pd.Series(data=['Luis', 'USA', 40], index=["name", "country", "age"])
students

name       Luis
country     USA
age          40
dtype: object

In [62]:
print(students.shape)
print(students.ndim)
print(students.size)
print(students.index)
print(students.values)
print(students.dtype)
print(students.name)
print(students.head(2))
print(students.tail(2))
print(students.describe())
print(students.is_unique)
print(students.is_monotonic_decreasing)
print(students.is_monotonic_increasing)
print(students.isnull())
print(students.notnull())
print(students.sort_index())

(3,)
1
3
Index(['name', 'country', 'age'], dtype='object')
['Luis' 'USA' 40]
object
None
name       Luis
country     USA
dtype: object
country    USA
age         40
dtype: object
count        3
unique       3
top       Luis
freq         1
dtype: object
True
False
False
name       False
country    False
age        False
dtype: bool
name       True
country    True
age        True
dtype: bool
age          40
country     USA
name       Luis
dtype: object

In [63]:
print('name' in students)

True

## ADD and Delete Elements on series

In [64]:
print(students['age'])
print(students.get('age'))

40
40

In [65]:
print(students[['name', 'age']])

name    Luis
age       40
dtype: object

In [66]:
print(students[1])

USA

/var/folders/dt/lf4ysknn6qzfqykdrps5_pxc0000gn/T/ipykernel_70391/1220065647.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(students[1])

In [67]:
print(students[[0, 1]])

name       Luis
country     USA
dtype: object

/var/folders/dt/lf4ysknn6qzfqykdrps5_pxc0000gn/T/ipykernel_70391/1676510666.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(students[[0, 1]])

In [68]:
print(students[-1])

40

/var/folders/dt/lf4ysknn6qzfqykdrps5_pxc0000gn/T/ipykernel_70391/2014565878.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(students[-1])

In [69]:
print(students.loc['name'])

Luis

In [70]:
print(students.iloc[0])

Luis

In [71]:
# Copy of students without age
students_copy = students.drop(['age'])
print(students_copy)
print("******************")
print(students)

name       Luis
country     USA
dtype: object
******************
name       Luis
country     USA
age          40
dtype: object

In [72]:
# Reference of students without age
students.drop(['age'], inplace=True)
print(students)

name       Luis
country     USA
dtype: object

In [73]:
fruits = pd.Series(data=[20, 40, 60], index=['mango', 'apple', 'banana'])
fruits

mango     20
apple     40
banana    60
dtype: int64

In [74]:
print(fruits + 3)

mango     23
apple     43
banana    63
dtype: int64

In [75]:
print(fruits - 3)

mango     17
apple     37
banana    57
dtype: int64

In [76]:
print(fruits * 3)

mango      60
apple     120
banana    180
dtype: int64

In [77]:
print(fruits / 3)

mango      6.666667
apple     13.333333
banana    20.000000
dtype: float64

In [78]:
print(fruits % 3)

mango     2
apple     1
banana    0
dtype: int64

In [79]:
print(fruits // 3)

mango      6
apple     13
banana    20
dtype: int64

In [80]:
print(fruists['mango'] + 3)

23

In [81]:
print(fruists[['banana', 'apple']] * 10)

banana    600
apple     400
dtype: int64

In [82]:
print(fruits.loc['apple'] / 10)

4.0

## Combine with Numpy

In [83]:
import numpy as np

In [84]:
print(np.sqrt(fruits))

mango     4.472136
apple     6.324555
banana    7.745967
dtype: float64

In [85]:
print(np.exp(fruits))

mango     4.851652e+08
apple     2.353853e+17
banana    1.142007e+26
dtype: float64

In [86]:
print(np.power(fruits, 2))

mango      400
apple     1600
banana    3600
dtype: int64

## DataFrames

In [87]:
items = {
    'Paul': [10, 20, 30],
    'Mary': [40, 50, 60]
}
df = pd.DataFrame(items)
df

   Paul  Mary
0    10    40
1    20    50
2    30    60

In [88]:
items = {
    'Paul': pd.Series([10, 20, 30], index=['apple', 'banana', 'mango']),
    'Mary': pd.Series([40, 50, 60], index=['apple', 'orange', 'mango'])
}
df = pd.DataFrame(items)
df

        Paul  Mary
apple   10.0  40.0
banana  20.0   NaN
mango   30.0  60.0
orange   NaN  50.0

In [89]:
df.index

Index(['apple', 'banana', 'mango', 'orange'], dtype='object')

In [90]:
df.values

array([[10., 40.],
       [20., nan],
       [30., 60.],
       [nan, 50.]])

In [91]:
df.columns

Index(['Paul', 'Mary'], dtype='object')

In [92]:
df.shape

(4, 2)

In [94]:
df = pd.DataFrame(items, columns = ['Paul'])
df

        Paul
apple     10
banana    20
mango     30

In [98]:
df = pd.DataFrame(items, columns = ['Paul'], index = ['apple'])
df

       Paul
apple    10